html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styling */
body{
    font-family: sans-serif;
    background-color:  #F7FAFE;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
}
nav img{
    width: 10%;
    flex-grow: 1;

}
nav ul{
    display: flex;
align-items: center;
justify-content: center;
    flex-grow: 8;
}
nav ul li{
    padding: 3%;
    text-align: center;
    color: darkcyan;
}
nav div{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div button{
    background-color: black;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
}
nav div button .down{
    color: #FFFFFF;
    padding-left: 12px;
}
.top-main-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10% 20%;
}
.top-main-content h1{
    font-size:3rem;
    text-align: center;
    line-height: 4rem;
    font-weight: bold;
}
.top-main-content h2{
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
    line-height: 2rem;
    color: dimgrey;
    text-align: justify;
    padding-top: 12px;
    width: 85%;
}
.top-main-content p{
    width: 70%;
    text-align: center;
    padding-top: 5%;
    line-height: 2rem;
}
.top-main-content a{
    color: darkcyan;
}
.animations{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    
    align-items: center; */
}
.example-1{
border:1px solid red;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.ex-right{
    flex-grow: 4;
    /* width: 20%; */
}
.ex-1{
    transform: perspective(75em) rotateX(18deg);
    box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px, rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid black;
    border-color: #d5dce2 #d5dce2 #b8c2cc;
}
.code{
flex-grow: 6;
}
